@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primary text-white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.custom-height {
    height: calc(100% - 96px);
}

.owner {
    @apply rounded-t-lg flex justify-end;
}

.not-owner {
    @apply rounded-tr-lg;
}

.fill {
    animation: drop 1s;
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, .6);
}

@keyframes drop {
    from {
        transform: translateY(-100px);
    }
}